# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Vite cache
dist/
.vite/
coverage/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Env files
.env
.env.*.local

# Optional: log / temporary files
*.log
tmp/
temp/
*.tmp

# System
Thumbs.db
Desktop.ini

# Git
.git/

# Local build artifacts
*.local
*.cache